.id-container {
    min-height: 80vh;
    position: relative;
}

.id-field {
    position: absolute;
    padding-left: 6rem;
    padding-right: 6rem;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.input-container {
    text-align: left;
}

.input-label {
    color: #000000;
    width: 100%;
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
}

.input-box {
    width: 15rem;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    background-color: #bebec2;
    border-radius: 5px;
    border: 1px solid #bebec2;
    color: #000000;
}

.submit {
    align-content: center;
    margin-left: 32%;
    margin-top: 3rem;
    background: rgba(138, 133, 133, 0.99);
    border-radius: 0.4rem;
    padding: 0.4rem;
    padding-right: 1.4rem;
    padding-left: 1.4rem;
}

.error {
    color: firebrick;
}