.id-container {
    display: flex;
    flex-direction: row;
}

.id-field {
    padding-left: 6rem;
    padding-right: 6rem;
    top: 50%;
    margin-top: 15%;
}

@media (max-width: 1000px) {
    .id-container {
        flex-wrap: wrap;
    }

    .id-field {
        margin-top: 0%;
    }
}

.input-container {
    text-align: left;
}

.input-label {
    color: #000000;
    width: 100%;
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
}

.input-box {
    width: 15rem;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    background-color: #d2d2d2;
    border-radius: 5px;
    border: 1px solid #bebec2;
    color: #000000;
}

.submit {
    align-content: center;
    margin-left: 25%;
    margin-top: 3rem;
    background: rgba(152, 152, 152, 0.99);
    border-radius: 0.4rem;
    padding: 0.4rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.error {
    color: firebrick;
}

.text-link {
    color: #111111;
}